$clr-background: #F8F8F8;
$clr-transparent: hsla(0, 0%, 100%, 0.1);
$clr-border: #41f6d7;
$clr-modal-border: hsl(164, 100%, 93%);
$clr-shadow:hsla(231, 70%, 18%, 0.2);
$clr-input-border: hsla(0, 0%, 0%, .1);
$clr-text-input: hsla(0, 0%, 0%, .5);
$clr-text-legend: #7d7d82;
$clr-text-link: #ff3d77;