$screen-s: 320px;
$screen-m: 768px;
$screen-l: 1366px;
$screen-xl: 1440px;

$f-bold: 'TTLakes-Bold', monospace, sans-serif;
$f-med: 'TTLakes-Medium', monospace, sans-serif;
$f-reg: 'TTLakes-Regular', monospace, sans-serif;

$padding: clamp(1rem, 3.125vw, 1.5rem);